body {
    background-color: lightgray;
}

h1 {
    color: maroon;
}

img {
    width: 400px;
    height: 400px;
}

.info {
    border-style: double;
    margin-top: 20px;
    padding: 10px;
}

dl dt {
    font-weight: bold;
    color: darkmagenta;
    font-size: larger;
}

dl dd {
    color: darkolivegreen;
    font-size: large;
}